In this notebook we will go further in the cleaning of the data, we will do the quality evaluation for both datasets

In [17]:
import pandas as pd
btc_data = pd.read_csv('./Data/btc_data_aligned_with_sp500.csv', encoding='cp1252')
sp500_data = pd.read_csv('./Data/sp500_data_aligned_with_btc_data.csv', encoding='cp1252')

Looking for null or missing values

In [18]:
btc_data.isnull().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [19]:
sp500_data.isnull().sum()

Date      0
Open      0
High      0
Low       0
Close     0
Volume    0
dtype: int64

Looking for Duplicates

In [20]:
btc_data.duplicated().sum()

np.int64(0)

In [21]:
sp500_data.duplicated().sum()

np.int64(0)

Checking Ranges and Consistency of the values

In [22]:
btc_data.describe()

,Open,High,Low,Close,Adj Close,Volume
count,2420.000000,2420.000000,2420.000000,2420.000000,2420.000000,2.420000e+03
mean,16025.704048,16435.798946,15581.727054,16039.567219,16039.567219,1.839613e+10
std,17803.837508,18272.309272,17272.649419,17807.449450,17807.449450,2.053435e+10
min,176.897003,215.240997,171.509995,178.102997,178.102997,7.845880e+06
25%,1026.510010,1046.707550,1008.504989,1029.292511,1029.292511,2.364240e+08
50%,8705.449219,8875.632812,8424.935058,8712.442383,8712.442383,1.443086e+10
75%,26887.815918,27335.662598,26415.205078,26877.522461,26877.522461,3.022172e+10
max,73079.375000,73750.070313,71334.093750,73083.500000,73083.500000,3.509679e+11