Insight 3: "The S&P 500 has more consistent returns, while Bitcoin shows extreme spikes, show accumulated returns"

In [6]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

btc_data = pd.read_csv('./Data/btc_data_aligned_with_sp500.csv', encoding='cp1252')
sp500_data = pd.read_csv('./Data/sp500_data_aligned_with_btc_data.csv', encoding='cp1252')

btc_data['Date'] = pd.to_datetime(btc_data['Date'])
sp500_data['Date'] = pd.to_datetime(sp500_data['Date'])

# Rename the 'Close' columns for clarity
btc_data.rename(columns={"Close": "BTC_Price"}, inplace=True)
sp500_data.rename(columns={"Close": "SP500_Price"}, inplace=True)

# Merging datasets
merged_data = pd.merge(btc_data[['Date', 'BTC_Price']], sp500_data[['Date', 'SP500_Price']], on='Date', how='inner')
merged_data

           Date     BTC_Price  SP500_Price
0    2014-09-18    424.440002  2011.359985
1    2014-09-19    394.795990  2010.400024
2    2014-09-22    402.152008  1994.290039
3    2014-09-23    435.790985  1982.770020
4    2014-09-24    423.204987  1998.300049
...         ...           ...          ...
2415 2024-04-24  64276.898438  5071.629883
2416 2024-04-25  64481.707031  5048.419922
2417 2024-04-26  63755.320313  5099.959961
2418 2024-04-29  63841.121094  5116.169922
2419 2024-05-01  59546.796875  5018.390137

[2420 rows x 3 columns]

In [ ]:
# Calculate daily returns
merged_data['BTC_Daily_Return'] = merged_data['BTC_Price'].pct_change()
merged_data['SP500_Daily_Return'] = merged_data['SP500_Price'].pct_change()

# Calculate daily cumulative returns
merged_data['BTC_Cumulative_Return'] = (1 + merged_data['BTC_Daily_Return']).cumprod() - 1
merged_data['SP500_Cumulative_Return'] = (1 + merged_data['SP500_Daily_Return']).cumprod() - 1

merged_data

,Date,BTC_Price,SP500_Price,BTC_Daily_Return,SP500_Daily_Return
0,2014-09-18,424.440002,2011.359985,NaN,NaN
1,2014-09-19,394.795990,2010.400024,-0.069843,-0.000477
2,2014-09-22,402.152008,1994.290039,0.018632,-0.008013
3,2014-09-23,435.790985,1982.770020,0.083647,-0.005777
4,2014-09-24,423.204987,1998.300049,-0.028881,0.007832
...,...,...,...,...,...
2415,2024-04-24,64276.898438,5071.629883,-0.032080,0.000213
2416,2024-04-25,64481.707031,5048.419922,0.003186,-0.004576
2417,2024-04-26,63755.320313,5099.959961,-0.011265,0.010209
2418,2024-04-29,63841.121094,5116.169922,0.001346,0.003178
2419,2024-05-01,59546.796875,5018.390137,-0.067266,-0.019112