Here we will start working both BTC and S&P 500 datasets in order to analyze them together.

In [17]:
import pandas as pd
btc_data = pd.read_csv('./Data/raw_data_but_cleaned/BTC_combined_2014_2024.csv')
sp500_data = pd.read_csv('./Data/raw_data_but_cleaned/sp500_data_filtered.csv')

# Convert the Date column into datetime64 type for both tables
btc_data['Date'] = pd.to_datetime(btc_data['Date'])
sp500_data['Date'] = pd.to_datetime(sp500_data['Date'])

In [18]:
sp500_data.head()

        Date         Open         High          Low        Close      Volume
0 2014-09-18  2003.069946  2012.339966  2003.069946  2011.359985  3235340000
1 2014-09-19  2012.739990  2019.260010  2006.589966  2010.400024  4880220000
2 2014-09-22  2009.079956  2009.079956  1991.010010  1994.290039  3349670000
3 2014-09-23  1992.780029  1995.410034  1982.770020  1982.770020  3279350000
4 2014-09-24  1983.339966  1999.790039  1978.630005  1998.300049  3313850000

In [19]:
# Rage date for BTC 
print("BTC date range:", btc_data['Date'].min(), "to", btc_data['Date'].max())

# Rage date for S&P 500
print("S&P 500 Date Rage:", sp500_data['Date'].min(), "to", sp500_data['Date'].max())

BTC date range: 2014-09-18 00:00:00 to 2024-05-01 00:00:00
S&P 500 Date Rage: 2014-09-18 00:00:00 to 2024-05-01 00:00:00

Checking missing dates in both datasets

In [20]:
# Getting dates from BTC and S&P 500 datasets
btc_dates = pd.to_datetime(btc_data['Date'])
sp500_dates = pd.to_datetime(sp500_data['Date'])

Filter the BTC dataset in order to match with the S&P 500 dataset dates

In [27]:
common_dates = sp500_data['Date'] 
btc_data = btc_data[btc_data['Date'].isin(common_dates)] # filter btc_data with the common dates with sp500_dates

In [32]:
btc_data.reset_index(drop=True, inplace=True)
sp500_data.reset_index(drop=True, inplace=True)

In [33]:
btc_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2420 entries, 0 to 2419
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       2420 non-null   datetime64[ns]
 1   Open       2420 non-null   float64
 2   High       2420 non-null   float64
 3   Low        2420 non-null   float64
 4   Close      2420 non-null   float64
 5   Adj Close  2420 non-null   float64
 6   Volume     2420 non-null   float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 132.5 KB

In [34]:
sp500_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2421 entries, 0 to 2420
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    2421 non-null   datetime64[ns]
 1   Open    2421 non-null   float64
 2   High    2421 non-null   float64
 3   Low     2421 non-null   float64
 4   Close   2421 non-null   float64
 5   Volume  2421 non-null   int64
dtypes: datetime64[ns](1), float64(4), int64(1)
memory usage: 113.6 KB

In [35]:
btc_data

,Date,Open,High,Low,Close,Adj Close,Volume
0,2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,3.448320e+07
1,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,3.791970e+07
2,2014-09-22,399.100006,406.915985,397.130005,402.152008,402.152008,2.412760e+07
3,2014-09-23,402.092010,441.557007,396.196991,435.790985,435.790985,4.509950e+07
4,2014-09-24,435.751007,436.112000,421.131989,423.204987,423.204987,3.062770e+07
...,...,...,...,...,...,...,...
2415,2024-04-24,66408.718750,67075.367188,63589.871094,64276.898438,64276.898438,3.027666e+10
2416,2024-04-25,64275.019531,65275.207031,62783.632813,64481.707031,64481.707031,3.215579e+10
2417,2024-04-26,64485.371094,64789.656250,63322.398438,63755.320313,63755.320313,2.413937e+10
2418,2024-04-29,63106.363281,64174.878906,61795.457031,63841.121094,63841.121094,2.663591e+10
2419,2024-05-01,60612.921875,60708.449219,59546.796875,59546.796875,59546.796875,3.746397e+10

In [36]:
sp500_data

,Date,Open,High,Low,Close,Volume
0,2014-09-18,2003.069946,2012.339966,2003.069946,2011.359985,3235340000
1,2014-09-19,2012.739990,2019.260010,2006.589966,2010.400024,4880220000
2,2014-09-22,2009.079956,2009.079956,1991.010010,1994.290039,3349670000
3,2014-09-23,1992.780029,1995.410034,1982.770020,1982.770020,3279350000
4,2014-09-24,1983.339966,1999.790039,1978.630005,1998.300049,3313850000
...,...,...,...,...,...,...
2416,2024-04-25,5019.879883,5057.750000,4990.580078,5048.419922,3958050000
2417,2024-04-26,5084.649902,5114.620117,5073.140137,5099.959961,3604140000
2418,2024-04-29,5114.129883,5123.490234,5088.649902,5116.169922,3447450000
2419,2024-04-30,5103.779785,5110.830078,5035.310059,5035.689941,4082470000
2420,2024-05-01,5029.029785,5096.120117,5013.450195,5018.390137,4544170000

1 date is missing in order to match both datasets, fixing that now

In [41]:
# Find the dates that sp500_data has but btc_data dont'
missing_in_btc = sp500_data[~sp500_data['Date'].isin(btc_data['Date'])]

# Find the dates that btc_data has but sp500_data don't
missing_in_sp500 = btc_data[~btc_data['Date'].isin(sp500_data['Date'])]

print(f"missing in btc_data:\n {missing_in_btc} \n")
print(f"missing in sp500_data:\n {missing_in_sp500} \n")

missing in btc_data:
            Date         Open         High          Low        Close  \
2419 2024-04-30  5103.779785  5110.830078  5035.310059  5035.689941

          Volume
2419  4082470000

missing in sp500_data:
 Empty DataFrame
Columns: [Date, Open, High, Low, Close, Adj Close, Volume]
Index: []

Removing the missing date, removed from sp500_data in order to make both datasets match

In [42]:
sp500_data = sp500_data[sp500_data['Date'] != '2024-04-30']

# reset index in both datasets
btc_data.reset_index(drop=True, inplace=True)
sp500_data.reset_index(drop=True, inplace=True)

In [46]:
# Find the dates that sp500_data has but btc_data dont'
missing_in_btc = sp500_data[~sp500_data['Date'].isin(btc_data['Date'])]

print(f"missing in btc_data:\n {missing_in_btc} \n")

missing in btc_data:
 Empty DataFrame
Columns: [Date, Open, High, Low, Close, Volume]
Index: []

In [43]:
btc_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2420 entries, 0 to 2419
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       2420 non-null   datetime64[ns]
 1   Open       2420 non-null   float64
 2   High       2420 non-null   float64
 3   Low        2420 non-null   float64
 4   Close      2420 non-null   float64
 5   Adj Close  2420 non-null   float64
 6   Volume     2420 non-null   float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 132.5 KB

In [ ]:
sp500_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2420 entries, 0 to 2419
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    2420 non-null   datetime64[ns]
 1   Open    2420 non-null   float64
 2   High    2420 non-null   float64
 3   Low     2420 non-null   float64
 4   Close   2420 non-null   float64
 5   Volume  2420 non-null   int64
dtypes: datetime64[ns](1), float64(4), int64(1)
memory usage: 113.6 KB

Exporting the new datasets cleaned and aligned to new CSV files

In [47]:
btc_data.to_csv('./Data/btc_data_aligned_with_sp500.csv')
sp500_data.to_csv('./Data/sp500_data_aligned_with_btc_data.csv')