Here we will start working both BTC and S&P 500 datasets in order to analyze them together.

In [13]:
import pandas as pd
btc_data = pd.read_csv('./Data/raw_data_but_cleaned/BTC_combined_2014_2024.csv')
sp500_data = pd.read_csv('./Data/raw_data_but_cleaned/sp500_data_filtered_2014.csv')

# Convert the Date column into datetime64 type for both tables
btc_data['Date'] = pd.to_datetime(btc_data['Date'])
sp500_data['Date'] = pd.to_datetime(sp500_data['Date'])

In [14]:
sp500_data.head()

        Date         Open         High          Low        Close      Volume
0 2014-09-18  2003.069946  2012.339966  2003.069946  2011.359985  3235340000
1 2014-09-19  2012.739990  2019.260010  2006.589966  2010.400024  4880220000
2 2014-09-22  2009.079956  2009.079956  1991.010010  1994.290039  3349670000
3 2014-09-23  1992.780029  1995.410034  1982.770020  1982.770020  3279350000
4 2014-09-24  1983.339966  1999.790039  1978.630005  1998.300049  3313850000