Initial Exploration

In [21]:
import pandas as pd
BTC_2014_2024 = pd.read_csv('./Data_files/BTC-USD (2014-2024).csv', encoding='cp1252')
ETH_2017_2024 = pd.read_csv('./Data_files/ETH-USD (2017-2024).csv', encoding='cp1252')

BTC_May_2024 = pd.read_csv('./Data_files/Bitcoin USD (01-05.2024).csv', encoding='cp1252')
ETH_May_2024 = pd.read_csv('./Data_files/ETH-USD (01-05.2024).csv', encoding='cp1252')

BTC_2023_2024_MarketCap = pd.read_csv('./Data_files/Bitcoin_29_10_2023-28_10_2024_historical_data-marketCap.csv')
ETH_2023_2024_MarketCap = pd.read_csv('./Data_files/Ethereum_29_10_2023-28_10_2024_historical_data-marketCap.csv')

In [23]:
# Dictionary with the name of each dataset
datasets = {
  "BTC_2014_2024": BTC_2014_2024,
  "ETH_2017_2024": ETH_2017_2024,
  "BTC_May_2024": BTC_May_2024,
  "ETH_May_2024": ETH_May_2024,
  "BTC_2023_2024_MarketCap": BTC_2023_2024_MarketCap,
  "ETH_2023_2024_MarketCap": ETH_2023_2024_MarketCap
}

# Apply head, info and describe to each dataset
for name, df in datasets.items():
  print(f"Dataset: {name}")
  print(f"First 5 rows: ")
  print(df.head())
  print(f"Last 5 rows: ")
  print(df.tail())
  print("\n Info: ")
  print(df.info())
  print("\n Describe: ")
  print(df.describe())
  print("\n Total IsNull Values: ")
  print(df.isnull().sum())
  print("\n Total Duplicated Values: ")
  print(df.duplicated().sum())
  print("-" * 40)

Dataset: BTC_2014_2024
First 5 rows:
         Date        Open        High         Low       Close   Adj Close  \
0  2014-09-18  456.859985  456.859985  413.104004  424.440002  424.440002
1  2014-09-19  424.102997  427.834991  384.532013  394.795990  394.795990
2  2014-09-20  394.673004  423.295990  389.882996  408.903992  408.903992
3  2014-09-21  408.084991  412.425995  393.181000  398.821014  398.821014
4  2014-09-22  399.100006  406.915985  397.130005  402.152008  402.152008

       Volume
0  34483200.0
1  37919700.0
2  36863600.0
3  26580100.0
4  24127600.0
Last 5 rows:
            Date          Open          High           Low         Close  \
3408  2024-01-17  43132.101563  43189.890625  42189.308594  42742.652344
3409  2024-01-18  42742.312500  42876.347656  40631.171875  41262.058594
3410  2024-01-19  41278.460938  42134.160156  40297.457031  41618.406250
3411  2024-01-20           NaN           NaN           NaN           NaN
3412  2024-01-21  41671.488281  41693.160156  41615.140625  41623.695313

         Adj Close        Volume
3408  42742.652344  2.085123e+10
3409  41262.058594  2.521836e+10
3410  41618.406250  2.575241e+10
3411           NaN           NaN
3412  41623.695313  1.127404e+10

 Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3413 entries, 0 to 3412
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       3413 non-null   object
 1   Open       3412 non-null   float64
 2   High       3412 non-null   float64
 3   Low        3412 non-null   float64
 4   Close      3412 non-null   float64
 5   Adj Close  3412 non-null   float64
 6   Volume     3412 non-null   float64
dtypes: float64(6), object(1)
memory usage: 186.8+ KB
None

 Describe:
               Open          High           Low         Close     Adj Close  \
count   3412.000000   3412.000000   3412.000000   3412.000000   3412.000000
mean   14747.360368  15091.809098  14376.126435  14758.111980  14758.111980
std    16293.633702  16683.948248  15855.901350  16295.374063  16295.374063
min      176.897003    211.731003    171.509995    178.102997    178.102997
25%      921.790009    935.210266    908.876495    921.739258    921.739258
50%     8288.819824   8464.720703   8108.011475   8285.438965   8285.438965
75%    24345.831543  24986.300293  23907.724610  24382.675293  24382.675293
max    67549.734375  68789.625000  66382.062500  67566.828125  67566.828125

             Volume
count  3.412000e+03
mean   1.663026e+10
std    1.907607e+10
min    5.914570e+06
25%    1.685530e+08
50%    1.176004e+10
75%    2.697648e+10
max    3.509679e+11

 Total IsNull Values:
Date         0
Open         1
High         1
Low          1
Close        1
Adj Close    1
Volume       1
dtype: int64

 Total Duplicated Values:
0
----------------------------------------
Dataset: ETH_2017_2024
First 5 rows:
         Date        Open        High         Low       Close   Adj Close  \
0  2017-11-10  320.670990  324.717987  294.541992  299.252991  299.252991
1  2017-11-11  298.585999  319.453003  298.191986  314.681000  314.681000
2  2017-11-12  314.690002  319.153015  298.513000  307.907990  307.907990
3  2017-11-13  307.024994  328.415009  307.024994  316.716003  316.716003
4  2017-11-14  316.763000  340.177002  316.763000  337.631012  337.631012

         Volume
0  8.859860e+08
1  8.423010e+08
2  1.613480e+09
3  1.041890e+09
4  1.069680e+09
Last 5 rows:
            Date         Open         High          Low        Close  \
2259  2024-01-17  2587.044678  2592.737061  2508.432861  2528.369385
2260  2024-01-18  2528.593262  2546.263916  2426.135498  2467.018799
2261  2024-01-19  2468.688965  2501.305176  2414.710938  2489.498535
2262  2024-01-20          NaN          NaN          NaN          NaN
2263  2024-01-21  2469.798584  2469.798584  2464.171875  2465.659180

        Adj Close        Volume
2259  2528.369385  1.044102e+10
2260  2467.018799  1.190003e+10
2261  2489.498535  1.140528e+10
2262          NaN           NaN
2263  2465.659180  5.195812e+09

 Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2264 entries, 0 to 2263
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       2264 non-null   object
 1   Open       2263 non-null   float64
 2   High       2263 non-null   float64
 3   Low        2263 non-null   float64
 4   Close      2263 non-null   float64
 5   Adj Close  2263 non-null   float64
 6   Volume     2263 non-null   float64
dtypes: float64(6), object(1)
memory usage: 123.9+ KB
None

 Describe:
              Open         High          Low        Close    Adj Close  \
count  2263.000000  2263.000000  2263.000000  2263.000000  2263.000000
mean   1248.213140  1283.972388  1208.851543  1248.970441  1248.970441
std    1118.835543  1150.922648  1082.560829  1118.566081  1118.566081
min      84.279694    85.342743    82.829887    84.308296    84.308296
25%     231.636727   236.766563   227.149369   231.901916   231.901916
50%    1038.186646  1090.229980   956.325012  1039.099976  1039.099976
75%    1870.983582  1905.373352  1844.880860  1871.952942  1871.952942
max    4810.071289  4891.704590  4718.039063  4812.087402  4812.087402

             Volume
count  2.263000e+03
mean   1.205243e+10
std    1.012443e+10
min    6.217330e+08
25%    4.845689e+09
50%    9.401190e+09
75%    1.657259e+10
max    8.448291e+10

 Total IsNull Values:
Date         0
Open         1
High         1
Low          1
Close        1
Adj Close    1
Volume       1
dtype: int64

 Total Duplicated Values:
0
----------------------------------------
Dataset: BTC_May_2024
First 5 rows:
         Date          Open          High           Low         Close  \
0  2024-01-01  42280.234375  44175.437500  42214.976563  44167.332031
1  2024-01-02  44187.140625  45899.707031  44176.949219  44957.968750
2  2024-01-03  44961.601563  45503.242188  40813.535156  42848.175781
3  2024-01-04  42855.816406  44770.023438  42675.175781  44179.921875
4  2024-01-05  44192.980469  44353.285156  42784.718750  44162.691406

      Adj Close        Volume
0  44167.332031  1.842698e+10
1  44957.968750  3.933527e+10
2  42848.175781  4.634232e+10
3  44179.921875  3.044809e+10
4  44162.691406  3.233603e+10
Last 5 rows:
           Date          Open          High           Low         Close  \
117  2024-04-27  63750.988281  63898.363281  62424.718750  63419.140625
118  2024-04-28  63423.515625  64321.484375  62793.597656  63113.230469
119  2024-04-29  63106.363281  64174.878906  61795.457031  63841.121094
120  2024-04-30           NaN           NaN           NaN           NaN
121  2024-05-01  60612.921875  60708.449219  59546.796875  59546.796875

        Adj Close        Volume
117  63419.140625  1.953078e+10
118  63113.230469  1.733483e+10
119  63841.121094  2.663591e+10
120           NaN           NaN
121  59546.796875  3.746397e+10

 Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       122 non-null    object
 1   Open       121 non-null    float64
 2   High       121 non-null    float64
 3   Low        121 non-null    float64
 4   Close      121 non-null    float64
 5   Adj Close  121 non-null    float64
 6   Volume     121 non-null    float64
dtypes: float64(6), object(1)
memory usage: 6.8+ KB
None

 Describe:
               Open          High           Low         Close     Adj Close  \
count    121.000000    121.000000    121.000000    121.000000    121.000000
mean   56450.053041  57734.332031  55120.466200  56620.206741  56620.206741
std    11208.941670  11531.918671  10673.505199  11150.644460  11150.644460
min    39518.714844  40127.351563  38521.894531  39507.367188  39507.367188
25%    44178.953125  44770.023438  42890.808594  44167.332031  44167.332031
50%    61168.062500  63155.101563  59546.796875  61276.691406  61276.691406
75%    66938.093750  68537.031250  64580.917969  66925.484375  66925.484375
max    73079.375000  73750.070313  71334.093750  73083.500000  73083.500000

             Volume
count  1.210000e+02
mean   3.403926e+10
std    1.670834e+10
min    9.344044e+09
25%    2.120493e+10
50%    3.044809e+10
75%    4.274619e+10
max    1.028029e+11

 Total IsNull Values:
Date         0
Open         1
High         1
Low          1
Close        1
Adj Close    1
Volume       1
dtype: int64

 Total Duplicated Values:
0
----------------------------------------
Dataset: ETH_May_2024
First 5 rows:
         Date         Open         High          Low        Close  \
0  2024-01-01  2282.870361  2352.327881  2267.018066  2352.327881
1  2024-01-02  2352.593506  2431.212402  2348.892334  2355.836426
2  2024-01-03  2355.981445  2385.117676  2113.925293  2210.761963
3  2024-01-04  2210.529053  2294.608154  2204.865723  2269.038086
4  2024-01-05  2269.409424  2276.764648  2209.537109  2268.647217

     Adj Close        Volume
0  2352.327881  6.906766e+09
1  2355.836426  1.291054e+10
2  2210.761963  1.933293e+10
3  2269.038086  1.104456e+10
4  2268.647217  1.086095e+10
Last 5 rows:
           Date         Open         High          Low        Close  \
117  2024-04-27  3129.727051  3279.451172  3071.340088  3252.168213
118  2024-04-28  3252.245605  3351.176514  3249.149170  3262.774658
119  2024-04-29  3262.340820  3285.468750  3116.199951  3215.428955
120  2024-04-30          NaN          NaN          NaN          NaN
121  2024-05-01  3011.292236  3016.822998  2961.520752  2983.724609

       Adj Close        Volume
117  3252.168213  1.182079e+10
118  3262.774658  1.137919e+10
119  3215.428955  1.503225e+10
120          NaN           NaN
121  2983.724609  1.796594e+10

 Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       122 non-null    object
 1   Open       121 non-null    float64
 2   High       121 non-null    float64
 3   Low        121 non-null    float64
 4   Close      121 non-null    float64
 5   Adj Close  121 non-null    float64
 6   Volume     121 non-null    float64
dtypes: float64(6), object(1)
memory usage: 6.8+ KB
None

 Describe:
              Open         High          Low        Close    Adj Close  \
count   121.000000   121.000000   121.000000   121.000000   121.000000
mean   2993.568380  3069.369209  2912.621061  3000.929572  3000.929572
std     537.066881   557.047451   504.673050   533.503623   533.503623
min    2210.529053  2240.380859  2113.925293  2210.761963  2210.761963
25%    2469.798584  2516.719727  2426.135498  2472.241211  2472.241211
50%    3065.953125  3127.160889  2961.520752  3084.920166  3084.920166
75%    3454.885742  3541.898193  3341.851074  3454.636475  3454.636475
max    4066.690430  4092.284180  3936.627197  4066.445068  4066.445068

             Volume
count  1.210000e+02
mean   1.612640e+10
std    7.657470e+09
min    4.578472e+09
25%    1.049988e+10
50%    1.462045e+10
75%    2.034160e+10
max    4.770690e+10

 Total IsNull Values:
Date         0
Open         1
High         1
Low          1
Close        1
Adj Close    1
Volume       1
dtype: int64

 Total Duplicated Values:
0
----------------------------------------
Dataset: BTC_2023_2024_MarketCap
First 5 rows:
  timeOpen;timeClose;timeHigh;timeLow;name;open;high;low;close;volume;marketCap;timestamp
0  2024-10-27T00:00:00.000Z;"2024-10-27T23:59:59....
1  2024-10-26T00:00:00.000Z;"2024-10-26T23:59:59....
2  2024-10-25T00:00:00.000Z;"2024-10-25T23:59:59....
3  2024-10-24T00:00:00.000Z;"2024-10-24T23:59:59....
4  2024-10-23T00:00:00.000Z;"2024-10-23T23:59:59....
Last 5 rows:
    timeOpen;timeClose;timeHigh;timeLow;name;open;high;low;close;volume;marketCap;timestamp
359  2023-11-03T00:00:00.000Z;"2023-11-03T23:59:59....
360  2023-11-02T00:00:00.000Z;"2023-11-02T23:59:59....
361  2023-11-01T00:00:00.000Z;"2023-11-01T23:59:59....
362  2023-10-31T00:00:00.000Z;"2023-10-31T23:59:59....
363  2023-10-30T00:00:00.000Z;"2023-10-30T23:59:59....

 Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 364 entries, 0 to 363
Data columns (total 1 columns):
 #   Column                                                                                   Non-Null Count  Dtype
---  ------                                                                                   --------------  -----
 0   timeOpen;timeClose;timeHigh;timeLow;name;open;high;low;close;volume;marketCap;timestamp  364 non-null    object
dtypes: object(1)
memory usage: 3.0+ KB
None

 Describe:
       timeOpen;timeClose;timeHigh;timeLow;name;open;high;low;close;volume;marketCap;timestamp
count                                                 364
unique                                                364
top     2023-10-30T00:00:00.000Z;"2023-10-30T23:59:59....
freq                                                    1

 Total IsNull Values:
timeOpen;timeClose;timeHigh;timeLow;name;open;high;low;close;volume;marketCap;timestamp    0
dtype: int64

 Total Duplicated Values:
0
----------------------------------------
Dataset: ETH_2023_2024_MarketCap
First 5 rows:
  timeOpen;timeClose;timeHigh;timeLow;name;open;high;low;close;volume;marketCap;timestamp
0  2024-10-27T00:00:00.000Z;"2024-10-27T23:59:59....
1  2024-10-26T00:00:00.000Z;"2024-10-26T23:59:59....
2  2024-10-25T00:00:00.000Z;"2024-10-25T23:59:59....
3  2024-10-24T00:00:00.000Z;"2024-10-24T23:59:59....
4  2024-10-23T00:00:00.000Z;"2024-10-23T23:59:59....
Last 5 rows:
    timeOpen;timeClose;timeHigh;timeLow;name;open;high;low;close;volume;marketCap;timestamp
359  2023-11-03T00:00:00.000Z;"2023-11-03T23:59:59....
360  2023-11-02T00:00:00.000Z;"2023-11-02T23:59:59....
361  2023-11-01T00:00:00.000Z;"2023-11-01T23:59:59....
362  2023-10-31T00:00:00.000Z;"2023-10-31T23:59:59....
363  2023-10-30T00:00:00.000Z;"2023-10-30T23:59:59....

 Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 364 entries, 0 to 363
Data columns (total 1 columns):
 #   Column                                                                                   Non-Null Count  Dtype
---  ------                                                                                   --------------  -----
 0   timeOpen;timeClose;timeHigh;timeLow;name;open;high;low;close;volume;marketCap;timestamp  364 non-null    object
dtypes: object(1)
memory usage: 3.0+ KB
None

 Describe:
       timeOpen;timeClose;timeHigh;timeLow;name;open;high;low;close;volume;marketCap;timestamp
count                                                 364
unique                                                364
top     2023-10-30T00:00:00.000Z;"2023-10-30T23:59:59....
freq                                                    1

 Total IsNull Values:
timeOpen;timeClose;timeHigh;timeLow;name;open;high;low;close;volume;marketCap;timestamp    0
dtype: int64

 Total Duplicated Values:
0
----------------------------------------

Coverting type of Date column to DateTime

In [ ]:
BTC_2014_2024['Date'] = pd.to_datetime(BTC_2014_2024['Date'])
BTC_May_2024['Date'] = pd.to_datetime(BTC_May_2024['Date'])

ETH_2017_2024['Date'] = pd.to_datetime(ETH_2017_2024['Date'])
ETH_May_2024['Date'] = pd.to_datetime(ETH_May_2024['Date'])

In [31]:
ETH_May_2024.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       122 non-null    datetime64[ns]
 1   Open       121 non-null    float64
 2   High       121 non-null    float64
 3   Low        121 non-null    float64
 4   Close      121 non-null    float64
 5   Adj Close  121 non-null    float64
 6   Volume     121 non-null    float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 6.8 KB

Combine Bitcoing and Ethereum datasets

In [33]:
# BTC datasets
BTC_combined = pd.concat([BTC_May_2024, BTC_2014_2024], ignore_index=True)

# ETH datasets
ETH_combined = pd.concat([ETH_May_2024, ETH_2017_2024], ignore_index=True)

Sorting by Date

In [36]:
BTC_combined = BTC_combined.sort_values(by='Date').reset_index(drop=True)
ETH_combined = ETH_combined.sort_values(by='Date').reset_index(drop=True)

In [ ]:
# Quick look
print(BTC_combined.head())
print(BTC_combined.info())

        Date        Open        High         Low       Close   Adj Close  \
0 2014-09-18  456.859985  456.859985  413.104004  424.440002  424.440002
1 2014-09-19  424.102997  427.834991  384.532013  394.795990  394.795990
2 2014-09-20  394.673004  423.295990  389.882996  408.903992  408.903992
3 2014-09-21  408.084991  412.425995  393.181000  398.821014  398.821014
4 2014-09-22  399.100006  406.915985  397.130005  402.152008  402.152008

       Volume
0  34483200.0
1  37919700.0
2  36863600.0
3  26580100.0
4  24127600.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3535 entries, 0 to 3534
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       3535 non-null   datetime64[ns]
 1   Open       3533 non-null   float64
 2   High       3533 non-null   float64
 3   Low        3533 non-null   float64
 4   Close      3533 non-null   float64
 5   Adj Close  3533 non-null   float64
 6   Volume     3533 non-null   float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 193.4 KB
None

In [39]:
print(ETH_combined.head())
print(ETH_combined.info())

        Date        Open        High         Low       Close   Adj Close  \
0 2017-11-10  320.670990  324.717987  294.541992  299.252991  299.252991
1 2017-11-11  298.585999  319.453003  298.191986  314.681000  314.681000
2 2017-11-12  314.690002  319.153015  298.513000  307.907990  307.907990
3 2017-11-13  307.024994  328.415009  307.024994  316.716003  316.716003
4 2017-11-14  316.763000  340.177002  316.763000  337.631012  337.631012

         Volume
0  8.859860e+08
1  8.423010e+08
2  1.613480e+09
3  1.041890e+09
4  1.069680e+09
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2386 entries, 0 to 2385
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       2386 non-null   datetime64[ns]
 1   Open       2384 non-null   float64
 2   High       2384 non-null   float64
 3   Low        2384 non-null   float64
 4   Close      2384 non-null   float64
 5   Adj Close  2384 non-null   float64
 6   Volume     2384 non-null   float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 130.6 KB
None

In [44]:
BTC_combined.isnull().sum()
ETH_combined.isnull().sum()

Date         0
Open         2
High         2
Low          2
Close        2
Adj Close    2
Volume       2
dtype: int64

Removing duplicated and null values

In [45]:
# Removing duplicated rows in Bitcoin dataset
BTC_combined = BTC_combined.drop_duplicates()

# Removing duplicated rows in Ethereum dataset
ETH_combined = ETH_combined.drop_duplicates()

In [48]:
BTC_combined.duplicated().sum()
ETH_combined.duplicated().sum()

np.int64(0)

Removing null values

In [49]:
BTC_combined = BTC_combined.dropna()
ETH_combined = ETH_combined.dropna()

In [55]:
BTC_combined.isnull().sum()
ETH_combined.isnull().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [56]:
BTC_combined.duplicated().sum()
ETH_combined.duplicated().sum()

np.int64(0)

Create new Datasets for Bitcoin and Ethereum

In [57]:
BTC_combined.to_csv("./Data_files/BTC_combined_2014_2024.csv", index=False)
ETH_combined.to_csv("./Data_files/ETH_combined_2014_2024.csv", index=False)